<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyService1" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="MyEventService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/VelibService" binding="wsDualHttpBinding"
                bindingConfiguration="MyEventService" contract="ServiceEventRef.IVelibService"
                name="MyEventService">
                <identity>
                    <userPrincipalName value="DESKTOP-IK8L38H\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8081/Service1" binding="basicHttpBinding"
                bindingConfiguration="MyService1" contract="ServiceReference1.IService1"
                name="MyService1" />
        </client>
    </system.serviceModel>
</configuration>